nav {
    background-color: rgb(0, 0, 0);
}
body {
    margin: 0 !important;
    padding: 0 !important;
}
.container {
    margin-top: 2em;
    margin-right: 0;
    margin-left: 0;
}
.col-sm-1 {
    padding: 0px !important;
}
.col-sm-2 {
    padding: 0px !important;
}
.gallery {
    margin: 0;
    padding: 0;
    width: 100%;
}
.gallery_line {
    width: 100%;
    height: 48px;
    margin: 2px;
    text-align: center;
}
.avatar {
    margin: 2px;
    width: 48px !important;
    height: 48px !important;
    display: inline-block;
}
.avatar.col-sm-1 {
    width: 16px !important;
}
.username {
    text-shadow: 0px 0px 5px rgb(0,0,0);
    font-size: small;
    font-weight: bolder;
    position: absolute;
    bottom: 0px;
    display: none;
}
.photo {
    width: 100% !important;
    max-height: 100% !important;
    border-radius: 5px 5px;
    border: solid thin rgb(200,200,200);
    margin:0 auto !important;
}
@media (min-width: 660px) {
    .avatar {
        margin: 2px;
        width: 96px !important;
        height: 96px !important;
    }
    .gallery_line {
        height: 96px;
    }
}
@media (min-width: 980px) {
    .avatar {
        margin: 2px;
        width: 128px !important;
        height: 128px !important;
    }
    .gallery_line {
        height: 160px;
    }
    .card-title {
        font-size: x-large;
    }
}
